* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* Trending Section */
section {
  padding: 4rem 0rem;
}

/* Trending Book Card */
.trending-books-list {
  width: 100%;
  margin: 4rem 0rem;
  display: flex;
  gap: 4rem;
  position: relative;
}
.tb-cards {
  width: 60%;
  background-color: #E3F2FD;
  padding: 2.8rem 2.8rem;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

  /* Trending book card header and its components */
  .tb-cards .header {
    width: 100%;
    position: relative;
    overflow: hidden;

  }

    .tb-cards .header .titles_prices {
      width: 100%;
      position: relative;
      overflow: hidden;
    }


      .tb-cards .header .titles_prices > a {
          width: 100%;
          position: absolute;
          background-color: #E3F2FD;
          top: 0;
          bottom: 0px;
          transition: 4s linear;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transform: translateY(0px);
        }

      .tb-cards .header .titles_prices > a > h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

          .tb-cards .header .titles_prices > a > span {
            font-size: 1.625rem;
            /* 26px */
            font-weight: 400;
            font-family: 'Erode', serif;
          }

  /* Trending book body and its components */
  .tb-cards .body {
    position: relative;
    overflow: hidden;
  }

    .tb-cards .body > p {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #E3F2FD;
    }
      .tb-cards .body > p > a {
        display: none;
      }

    .tb-cards .body > p,
    .tb-cards .body > div {
      font-size: 1.125rem; /* 18px */
      line-height: 1.6rem;
      font-weight: 400;
    }


/* Trending book footer and its CTA buttons */
.tb-cards .footer {
  position: relative;
  height: 46px;
  overflow: hidden;
}
  .tb-cards .footer .cta-btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0px;
  }
    .tb-cards .footer .cta-btns > a {
      display: block;
    }

.tb-cards .control {
  display: flex;
  gap: 0.6rem;
}

.trending-books-slider {
  width: 40%;
  display: flex;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

  .trending-books-slide {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

/* Best Selection Selection */
.best-selection {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.best-selection > div {
  width: 50%;
}
.best-selection > .heading-and-subtitle > p {
  width: 100%;
}
.best-selection > .best-selection-slider-wrapper {
  /* background-color: red; */
}
.best-selection > .best-selection-slider-wrapper > .best-fiction-slider {
  background-color: #bdd8ff;
  width: 100%;
  height: 100%;
 display: grid;
 grid-template-columns: calc((100% / 3 ) - 12px);
 gap: 12px;
  /* grid-template-rows: max-content; */
  /* overflow: hidden; */
}
.best-fiction-slide  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* overflow: hidden; */
}

/* Responsive Css */

/* large screens like desktop */
@media screen and (max-width: 1200px)  {
  .tb-cards {
    width: 100%;
    padding: 2rem 2rem; /* 48px 48px */

  }
    .tb-cards h4,
    .tb-cards .header .titles_prices > a > span {
      font-size: 1.75rem; /* 28px */
    }
    .tb-cards .body > p{
      font-size: 1.125rem; /* 18px */
    }
  .trending-books-slider .trending-books-slide {
    width: 100%;
  }
}

/* small screens like laptop */
@media screen and (max-width: 1024px)  {
  .trending-books-list {
    gap: 3rem;
  }
    .tb-cards {
      width: 60%;
      padding: 2rem 2rem; /* 48px 48px */

    }
      .tb-cards h4,.tb-card-titles-and-prices>a>span {
        font-size: 1.625rem; /* 26px */
      }
      .tb-card-body>p{
        font-size: 1rem; /* 18px */
      }
    
    .trending-books-slider {
      width: 40%;
    }  
}
/*  ipad, tablets */
@media screen and (max-width: 768px)  {
  .trending-books-list{
    flex-direction: column;
  }
  .tb-cards{
    width: 100%;
  }
  .trending-books-slider{
    width: 50%;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    right: -50px;
  }
}
/* Mobile devices */
@media screen and (max-width: 480px) {
  .trending-books-list{
    flex-direction: column;
  }
  .tb-cards {
    width: 100%;
    padding: 2rem 2rem; /* 16px 16px */

  }
    .tb-cards h4,
    .tb-cards .titles-prices > a > span {
      font-size: 1.65rem; /* 28px */
    }
    .tb-cards .body > p{
      font-size: 1rem; /* 16px */
    }
      /* view detail btn mobile show */
      .tb-cards .body > p > a {
        display: block;
      }

    .tb-cards .footer .cta-btns, 
    .tb-cards .footer .cta-btns a, 
    .tb-cards .footer .cta-btns a button{
      width: 100%;
    }
    /* view detail btn desktop hidden */
    .tb-cards .footer .cta-btns a:nth-child(2) {
      display: none;
    }
    .tb-cards .footer .cta-btns a button {
      font-size: 1rem; /* 16px */
      padding: 0.6rem 1.6rem;
    }
    
  .tb-cards,.trending-books-slider {
    width: 100%;
  }
  .trending-books-slider{
    width: 50%;
    bottom: -30%;
    right: 0;
  }

}

/* Smallest Mobile devices */
@media screen and (max-width: 319px) {
  .trending-books-list{
    flex-direction: column;
  }
    .tb-cards {
      display: none;
    }
    .trending-books-slider {
      position: relative;
      width: 100dvw;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
      .trending-books-slide{
        width: 100dvw;
        scroll-snap-align: start;
      }
}
