* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Recia', serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  max-width: 1512px;
  width: 90%;
  margin: auto !important;
  color: #0F2F60;
  font-weight: 500;
  font-size: 1rem;

}
/* Trending Section */
section {
  padding: 4rem 0rem;
}

/* Trending Book Card */
.tbook-cards {
  width: 50%;
  background-color: #E3F2FD;
  padding: 4rem 4rem;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

/* Trending book card header and its components */
.tb-card-header {
  width: 100%;
  position: relative;
  overflow: hidden;

}

.tb-card-titles-and-prices {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tb-card-titles-and-prices>a {
  width: 100%;
  position: absolute;
  background-color: #E3F2FD;
  top: 0;
  bottom: 0px;
  transition: 4s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0px);
}

.tb-card-titles-and-prices>a>span {
  font-size: 1.625rem;
  /* 26px */
  font-weight: 400;
  font-family: 'Erode', serif;
}

/* Trending book body and its components */
.tb-card-body {
  position: relative;
  overflow: hidden;
}

.tb-card-body>p {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #E3F2FD;
}

.tb-card-body>p,
.tb-card-body>div {
  font-size: 1.125rem;
  /* 18px */
  line-height: 1.6rem;
  font-weight: 400;
}

.three-line-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 99%;
}
/* Trending book footer and its CTA buttons */
.tb-card-footer {
  position: relative;
  overflow: hidden;

}

.tb-cta-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0px;
}

.tb-cta-buttons>a {
  display: block;
}

.tb-cta-buttons>a>button {
  background-color: aqua;
}


.trending-books-slider {
  width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  /* gap: 2rem; */
  scroll-behavior: smooth;
}

.trending-books-slide {
  width: 70%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.trending-books-slide > .book {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(-18deg);
}

.trending-books-slide .book>div {
  position: absolute;
}

.book:hover {
  /* transform: rotateY(0deg); */
  transition: all 0.4s ease-in;

  /* animation: book-rotate 1s ease-in infinite; */
}

.trending-books-slide > .book-cover {
  width: 80%;
  height: 80%;
  position: absolute;
  transform: translateZ(100px) rotateY(-20deg);
  transition: all 0.4s ease-in;
  background-color: azure;
  z-index: 2;
}

.trending-books-slide > .book-middle {
  width: 100%;
  height: 80%;
  position: absolute;
  transition: all 0.2s ease-in;
  transform: rotateY(74deg) translateZ(100px);
  z-index: 2;
}

.trending-books-slide > .white-pages {
  width: 30%;
  height: 100%;
  background-image: url("../images/book-middle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.book:hover .book-middle {
  /* width: 0%; */
  transition: all 0.2s ease-in;

}

.bg-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #E3F2FD;
  position: relative;
}


.dummy-block {
  visibility: hidden;
}

/* Best Selection Selection */
.best-selection {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.best-selection > div {
  width: 50%;
}
.best-selection > .heading-and-subtitle > p {
  width: 100%;
}
.best-selection > .best-selection-slider-wrapper {
  /* background-color: red; */
}
.best-selection > .best-selection-slider-wrapper > .best-fiction-slider {
  background-color: #bdd8ff;
  width: 100%;
  height: 100%;
 display: grid;
 grid-template-columns: calc((100% / 3 ) - 12px);
 gap: 12px;
  /* grid-template-rows: max-content; */
  /* overflow: hidden; */
}
.best-fiction-slide  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* overflow: hidden; */
}

.best-fiction-slide > .book {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: red;
  /* transform: rotateY(-18deg); */
}
.best-fiction-slide > .book > div {
  position: absolute;
}
.best-fiction-slide > .book > .book-cover {
  width: 80%;
  height: 60%;
  transform: translateZ(100px) rotateY(-20deg);

  background-color: rgb(0, 204, 255);
}
.best-fiction-slide > .book > .book-middle {
  width: 80%;
  height: 60%;
  transform: rotateY(74deg) translateZ(100px);
  background-color: rgb(0, 204, 255);
}


